In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

# read in csv
df = pd.read_csv('../data/Production_Crops_E_All_Data_NOFLAG.csv', encoding = "ISO-8859-1")

# clean column names
cols = df.columns
cols = [col.lower().replace(' ', '_') for col in cols]
new_cols = []
for col in cols:
    if col[0] == 'y':
        new_cols.append(col[1:])
    else:
        new_cols.append(col)
df.columns = new_cols

df = df[df['area_code']<1000]
df = df[df['area'] != 'China, mainland']

In [27]:
def crop_year(crop,year,element='Yield'):
    df_filtered = df.loc[(df['item'] == crop) & (df['element'] == element)]
    return df_filtered[['area',year]]
crop_year('Avocados','1961','Yield')

                                     area      1961
908                             Argentina       NaN
1318                            Australia       NaN
2049                              Bahamas       NaN
2450                             Barbados       NaN
3574     Bolivia (Plurinational State of)   50000.0
3829               Bosnia and Herzegovina       NaN
4111                               Brazil  103125.0
5259                             Cameroon   24000.0
5731             Central African Republic   10000.0
5987                                Chile   26667.0
6244                                China       NaN
7362                             Colombia   85714.0
7714                                Congo   72222.0
7878                         Cook Islands   90000.0
7960                           Costa Rica   66250.0
8164                        Côte d'Ivoire   40000.0
8604                                 Cuba  318182.0
8780                               Cyprus    7273.0
9585     Democratic Republic of the Congo   66667.0
10001                            Dominica       NaN
10138                  Dominican Republic       NaN
10346                             Ecuador  123077.0
10872                         El Salvador  102500.0
11307                            Eswatini       NaN
11430                            Ethiopia       NaN
12164                              France       NaN
12442                       French Guiana       NaN
12556                    French Polynesia       NaN
13242                               Ghana   40000.0
13439                              Greece       NaN
...                                   ...       ...
17117                             Jamaica       NaN
18044                               Kenya  145455.0
19026                             Lebanon       NaN
19896                          Madagascar       NaN
20971                          Martinique       NaN
21324                              Mexico  123876.0
22034                             Morocco   80000.0
23267                         New Zealand       NaN
24165      Occupied Palestinian Territory       NaN
24819                              Panama       NaN
25102                            Paraguay       NaN
25301                                Peru   51051.0
25623                         Philippines   33300.0
26107                            Portugal       NaN
26371                         Puerto Rico   50713.0
27054                             Réunion       NaN
27719                              Rwanda       NaN
27965                         Saint Lucia       NaN
28235                               Samoa  396667.0
29041                          Seychelles       NaN
29940                        South Africa   47330.0
30296                               Spain   97143.0
30630                           Sri Lanka       NaN
32550                         Timor-Leste       NaN
32924                 Trinidad and Tobago       NaN
33096                             Tunisia       NaN
33356                              Turkey       NaN
34744            United States of America   48990.0
35800  Venezuela (Bolivarian Republic of)   45002.0
36828                            Zimbabwe       NaN

[68 rows x 2 columns]